@font-face {
    font-family: 'Nexa';
    src: url('../assets/fonts/NexaRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nexa';
    src: url('../assets/fonts/NexaBold.otf');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nexa';
    src: url('../assets/fonts/NexaHeavy.otf');
    font-weight: bolder;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nexa';
    src: url('../assets/fonts/NexaLight.otf');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nexa';
    src: url('../assets/fonts/NexaRegularItalic.otf');
    font-weight: normal;
    font-style: italic;
  }